{
    "comments": false,
    "env": {
        "test": {
            "presets": [
                ["env", {
                    "targets": "electron"
                }],
                "stage-0"
            ]
        },
        "main": {
            "presets": [
                ["env", {
                    "targets": "electron"
                }],
                "stage-0"
            ]
        },
        "renderer": {
            "presets": [
                ["env", {
                    "modules": false
                }],
                "stage-0"
            ]
        }
    },
    "plugins": ["transform-runtime"]
}
